* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#welcome_txt {
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #111;
}

/* Button design */
.button {
    position: relative;
    padding: 10px 30px;
    border: 2px solid white;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
.button:hover {
    color:#111;
}
.button span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: white;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
}
.button:hover span {
    width: 600px;
    height: 600px;
}
