* {
    text-align: center;
    margin: 0px auto;
}

#welcome_txt {
    font-size: 24px;
}

#login-link {
    background-color: whitesmoke;
    border-radius: 8px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#login-link:hover {
    cursor: pointer;
}
