@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');
@import url('https://fonts.cdnfonts.com/css/whitney-2');
* {
    margin: 0;
    padding: 0;
}
a:link {
    /* when the user has not visited, hovered, or clicked on a link */
    text-decoration: none;
}

a:visited {
    /* after the user has visited the link */
    text-decoration: none;
}

a:hover {
    /* when the user hovers their mouse over the link */
    text-decoration: none;
}

a:active {
    /* as the user is clicking on the link */
    text-decoration: none;
}

:root {
    --bg-color: rgba(0, 0, 0, 0.287);
    --theme-color: #262626;
    --theme-color2: #181818;
    --txt-color: white;
    --gradient-first: rgba(255, 90, 90, 0.675);
    --gradient-second: rgba(255, 144, 53, 0.675);
    --footer-color: #22242b;
    --test-color: red;
}
::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #a53e74;
}

::selection {
    color: white;
    background: rgba(255, 90, 90, 0.675);
}

body,
html {
    /* cursor: url("/views/img/test.png"), auto; */
    font-family: Pretendard;
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--theme-color2), var(--theme-color));
    /* background-color: #181818; */
    height: 100vh;
    color: var(--txt-color);
}

/* Navbar start */
#navbar {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 64px;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    -ms-grid-row-align: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    z-index: 10;
    align-content: center;
    transition-duration: 0.5s;
    background: rgba(23, 23, 27, 0.7);
}
.navbarLogo {
    height: auto;
    width: 40px;
    user-select: none;
}
.navbarTitle {
    font-size: 20px;
    font-weight: bold;
    color: white;
    vertical-align: inherit;
    user-select: none;
}
.navArea1 {
    display: flex;
    padding: 0px 96px;
    align-items: center;
    gap: 2%;
}
.navArea1 img {
    border-radius: 50%;
}
.navArea2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.navArea2 > div {
    border-radius: 5px;
    margin: 20px;
    padding: 0.55vw;

    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 50%,
        var(--gradient-first) 75%,
        var(--gradient-second) 100%
    );
    background-size: 300%;
    overflow: hidden;
    background-position: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navArea2 > div:hover {
    background-position: 100%;
    cursor: pointer;
}
.navArea2 > div > * {
    padding: 5px 7px;
}
/* Navbar end */

/* Intro start */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 4%;
    /* background-color: var(--theme-color2); */
}
#introduction {
    /* background: var(--theme-color);
    border-radius: 50px; */
    width: 100%;
    height: 80vh;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
        't i '
        's s';
}
.introText {
    grid-area: t;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.introButtons a {
    width: 100%;
    height: 100%;
}
/*
.discordButton {
    background-color: var(--gradient-second);
    border: none;
    border-radius: 15px;
    color: var(--txt-color);
    width: 100%;
    padding: 1.5vw;
    height: 100%;
    font-size: 1vw;
    font-family: Pretendard;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: scale(0.9,0.9);
    transition-duration: 0.3s;
    opacity: 0.8;
}

.discordButton:hover{
    cursor:pointer;
    opacity: 1;
    transform: scale(1,1);
}
*/
.discordButton {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 0.75rem;
    border: solid 0;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 200ms;
    box-shadow: none !important;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    background: var(--gradient-second);
}
.discordButton:hover {
    background: rgba(255, 144, 53, 0.8);
    cursor: pointer;
    color: transparent;
}
.discordButtonSpan {
    color: #090909;
}
.commandsButton {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 0.75rem;
    border: solid 0;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 200ms;
    box-shadow: none !important;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    margin: 0px 0px 0px 16px;
    padding: 0px 16px;
    background: rgba(255, 255, 255, 0.08);
}
.commandsButton:hover {
    background: rgba(255, 255, 255, 0.16);
    cursor: pointer;
}
.commandsButtonSpan {
    color: white;
}
.introImg {
    grid-area: i;
}
.introImg img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5vw 1vw black;
}
.introStats {
    grid-area: s;
}
#introduction > div {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Intro end */

.section {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: var(--theme-color2);
}

.otherArea {
    width: 30%;
    height: 110vh;
    padding: 10%;
}

.bulletPoint {
    position: sticky;
    top: 12vh;
    padding: 2vw;
    font-size: 35px;
    color: var(--txt-color);
}

.faintTransparent {
    color: rgba(255, 255, 255, 0.36);
    font-weight: 500;
    font-size: 20px;
}

.bigText {
    font-size: 36px;
    color: var(--txt-color);
}

.gradientText {
    font-size: inherit;
    background-color: var(--gradient-first);
    font-weight: 900;
}

@supports (-webkit-background-clip: text) and
    (-webkit-text-fill-color: transparent) {
    .gradientText {
        background: linear-gradient(
            90deg,
            var(--gradient-first),
            var(--gradient-second, var(--gradient-first))
        );
        background-size: 150%;
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.mainContent {
    height: 280vh;
    background-color: black;
}

.discordArea {
    font-family: 'Whitney', sans-serif;
    border-radius: 25px;
    width: 60%;
    margin: 10%;
    height: 90vh;
    background-color: #36393e;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* 
.discMessage{
    width: 85%;
    padding: 1%;
    
    margin-left: 2vw;
    color: white;
    border-radius: 15px;

    
}

.discMessage:hover{
    background-color: #282b30;
}

.sender{
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    align-items: center;
}

.sender h3{
    font-family: 'Whitney Semibold', sans-serif;
    font-size: 1.25vw;
    margin-top: -1vh;
    margin-left: 1vw;
    font-weight:700;
}

.jasunk{
    color: yellow !important;
}

.leo{
    color: blanchedalmond;
}

.sender img{
    width: 3vw !important;
    height: auto;
    border-radius: 50% !important;
}

.discMessage p{
    font: 0.8vw;
    margin-left: 5vw;
    margin-top: -2.8vh;
}

.discImg{
    width: 75%;
    border-radius: 15px;
    margin-left: 5vw;
    margin-top: -2vh;
    transition-duration: 0.3s;
}

.active{
    transform: scale(0.75,0.75) translate(-125%,-50%);
    position: absolute;
}
 */
#wave {
    margin-bottom: -26px;
    background-color: var(--theme-color2);
}

/* Footer start */
.footer {
    box-sizing: border-box;
    margin: 0;
    padding: 64px 0;
    background-color: var(--footer-color);
    color: white;
    line-height: 1.5;
}
.container {
    max-width: 1764px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 10%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 16px;
    color: white;
    margin-bottom: 25px;
    font-weight: 300;
    position: relative;
}
.footer-ul {
    list-style: none;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    display: block;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.4) 50%,
        var(--gradient-first) 60%,
        var(--gradient-second) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    overflow: hidden;
    background-position: 0;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
.footer-col ul li a:hover {
    background-position: 100%;
}
.copyright {
    vertical-align: inherit;
    display: flex;
    justify-content: center;
}
/* Footer end */

iframe {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

#darkmode {
    width: 4.5vw;
    height: 4.5vw;
    position: fixed;
    background-color: black;
    z-index: 100;
    bottom: 2%;
    left: 1.5%;
    border-radius: 50%;
    color: var(--txt-color);
    font-size: 1.75vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .navArea2 {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .navArea2 {
        display: none;
    }
}
